<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Universal Links: iOS counterpart of the Android App Links in
	     AndroidManifest.xml. Lets shared product links
	     (https://rookiesjeans.com/products/...) open the app. Requires
	     https://rookiesjeans.com/.well-known/apple-app-site-association
	     to be hosted on the store domain. -->
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:rookiesjeans.com</string>
		<string>applinks:www.rookiesjeans.com</string>
	</array>
</dict>
</plist>
